.button {
  border: 0;
  background-color: red;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  font-size: 16px;
  transition-property: background-color;
  transition-duration: 300ms;
  cursor: pointer;
}

.button:hover {
  background-color: darkred;
}

.button:active {
  background-color: lightcoral;
}