.main {
  background-color: #111;
  padding: 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.button {
  margin-right: 8px;
  background: transparent;
  padding: 0;
  border: 0;
}

.input {
  display: block;
  width: 100%;
  padding: 0 0 4px;
  border: 0;
  border-bottom: 1px solid #111;
  margin-bottom: 32px;
}
